#topHeader {
    text-align: right;
    a {
    display: inline-block;
    color: darkolivegreen;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    text-decoration: underline darkseagreen;
    padding: 0px 50px  25px;
    }
}

#title {
    text-align: center;
    color:peru;
}

#homeMenu{
    display: grid;
    text-align: center;
    font-size: 50px;
    line-height: 150px;
    font-family:'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    
    a{
        color:rgb(212, 170, 63);
    }
}

body {
    background-color: mintcream;
    font-family:Arial, Helvetica, sans-serif;
    color: darkslateblue;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0px;
    line-height: 25px;
}