/*Global variables*/
:root {
    --heightDim: 350px;
    --logoSize: 50px;
    --blockSize: 380px;
    --blockPad: 10px;
    --bckgrnd-color: #C9E0EA;
    --header-color: #455399;
    --main-txt-color: #535353;
    --img-border-color: rgb(175, 175, 175);
    --block-border-color: rgb(175, 175, 175);
    --block-bckgrnd-color: #ececec;
    --block-txt-color: #535353;
}

/*Animation Functions*/
@keyframes slide-in-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    60% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(+200px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        color: var(--main-txt-color);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(+200px);
        color: var(--bckgrnd-color);
    }

    to {
        transform: translateX(0px);
        color: var(--main-txt-color);
    }
}

@keyframes visible-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes visible-appear-loop {

    0%,
    100% {
        opacity: 0;
        transform: translateY(+20px);
    }

    70% {
        opacity: .85;
        transform: translateY(-20px);
    }
}

/*Utility Clases*/
.animate {
    animation-duration: 1.25s;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.animate--fast {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.13, .7, .19, .17);
    animation-delay: .05s;
}

.animate--slow {
    animation-duration: 1.5s;
    animation-delay: .5s;
}

.animate--super--slow {
    animation-duration: 4.5s;
    animation-delay: 2s;
}

.slide-in-top {
    animation-name: slide-in-top;
    animation-timing-function: ease-in-out;
}

.slide-in-bottom {
    animation-name: slide-in-bottom;
    animation-timing-function: ease-out;
}


.slide-in-left {
    animation-name: slide-in-left;
    animation-timing-function: ease-out;
}

.slide-in-right {
    animation-name: slide-in-right;
    animation-timing-function: ease-out;
}

.instruct-down-animate {
    animation: visible-appear-loop infinite;
    animation-duration: 4.5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}

#topHeader {
    text-align: left;

    a {
        display: inline-block;
        color: darkolivegreen;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        font-weight: 600;
        text-decoration: underline darkseagreen;
        padding: 18px 25px 15px;
    }
}

#myfooter {
    p {
        text-align: right;
    }
}

#introduction {

    display: flex;
    text-align: left;
    justify-content: center;
    min-height: 100vh;
    min-width: 600px;

    p {
        font-size: 25px;
        line-height: 38px;
        padding: 0px;
        max-width: 650px;
        min-width: 250px;
    }

    #profile-pic {
        margin-left: 0px;
        margin-right: 50px;
    }

    img {
        align-content: center;
        min-width: 350px;
        max-width: 100%;
        height: auto;
        /*border-radius: 50px;*/
        border-radius: 16% 84% 12% 88% / 92% 12% 88% 8%;
        border: 10px solid var(--img-border-color);
        object-fit: contain;
    }
}

#instruct-down {
    position: fixed;
    bottom: 0;
}

.instruct--hidden {
    opacity: 0;
}

#project-list {
    display: flex;
    flex-wrap: wrap;

    h1 {
        width: 100%;
    }
}

#socials {
    float: right;

    a {
        text-align: center;
        text-decoration: none;
        padding: 0px 20px;
    }

    img {

        max-width: var(--logoSize);
        max-height: var(--logoSize);
        border: none;
    }

}

.logos {
    animation-name: visible-appear;
    animation-duration: 1.5s;
    animation-delay: 1.35s;
    animation-fill-mode: backwards;
    transition: transform 0.25s ease-out;
}

.logos:hover {
    transform: translateY(-5px);
}



.project-blocks {
    border: 5px solid var(--block-border-color);
    background-color: var(--block-bckgrnd-color);
    /*background-color: rgb(143, 205, 207);*/
    max-width: 480px;
    min-width: var(--blockSize);
    max-height: 530px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: var(--blockPad);
    color: var(--block-txt-color);
    margin: 0px auto;
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;

    h2 {
        margin: 10px var(--blockPad);
        width: 100%;
        font-size: 35px;
    }

    img {
        border: 5px solid var(--block-border-color);
        border-radius: 25px;
        width: var(--heightDim);
        height: var(--heightDim);
        padding: none;
        object-fit: cover;
        margin: 0px 10px 0px 10px;
    }

    a {
        text-decoration: none;
        color: inherit;

    }

    p {
        margin-top: 0px;
        padding-left: var(--blockPad);
        padding-right: var(--blockPad);
        font-size: 21px;
    }
}

.more-space {
    padding-top: 15px;
}

header {
    text-align: center;
    line-height: 45px;

}

h1 {
    color: var(--header-color);
    margin-top: 5px;
    font-size: 75px;
    padding: 0px 0px 30px;
    text-align: center;
}

h2 {
    line-height: 35px;
}

hr {
    height: 3px;
    color: #333;
    background-color: var(--main-txt-color);
}

body {
    background-color: var(--bckgrnd-color);
    color: var(--main-txt-color);
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0px;
    line-height: 30px;
}

figure {
    display: inline-block;
    align-items: center;
    text-align: center;
}

figcaption {
    font-size: 25px;
    padding-bottom: 60px;

}

img {
    width: var(--heightDim);
    /* you can use % */
    height: var(--heightDim);
    padding-bottom: 0px;
    object-fit: cover;
}

video {
    width: auto;
    /* you can use % */
    height: var(--heightDim);
    max-width: 500px;
    max-height: 500px;
    padding-bottom: 0px;
}

/*Font Styling*/
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*Clouds*/

#clouds {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 50px;
    position: fixed;
    z-index: -1;
}

/* Animations */
@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }

    100% {
        margin-left: 100%;
    }
}

.first-cloud {
    animation: animateCloud 25s cubic-bezier(.44, .65, .68, .6) infinite;
    transform: scale(0.40);
    animation-delay: 2s;
    animation-fill-mode: both;
}

.second-cloud {
    animation: animateCloud 20s linear infinite;
    transform: scale(0.32);
}

.third-cloud {
    animation: animateCloud 30s cubic-bezier(.59, .52, .62, .67) infinite;
    transform: scale(0.45);
    animation-delay: 5s;
    animation-fill-mode: both;
}

.fourth-cloud {
    animation: animateCloud 21s linear infinite;
    transform: scale(0.4);
    animation-delay: 3.5s;
    animation-fill-mode: both;
}

.fifth-cloud {
    animation: animateCloud 26s linear infinite;
    transform: scale(0.55);
    animation-delay: 3.5s;
    animation-fill-mode: both;
}

/* Objects */
.cloud {
    background: white;
    border-radius: 100px;
    box-shadow: 10px 8px 5px rgb(0, 0, 0, 0.15);
    height: 80px;
    position: relative;
    width: 310px;
}

.cloud:after,
.cloud:before {
    background: white;
    content: '';
    position: absolute;
    z-indeX: -1;
}

.cloud:after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 110px;
}

.cloud:before {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    right: 35px;
    top: -90px;
}